---
import Sidebar from "../components/Sidebar.astro";
---

<div class="layout">
  <Sidebar />
  <main>
    <slot />
  </main>
</div>

<style>
.layout {
  display: flex;
  gap: 2rem;
}
main {
  flex: 1;
}
</style>